[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
flask = "*"
urllib3 = "*"
flask-cors = "*"
gunicorn = "*"
gevent = "*"

[requires]
python_version = "3.5"

[scripts]
serve="flask run"
